<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/build.min.css" />
    <link rel="icon" href="/images/svg/dark-logo.svg" />
    <title>Quiz platform | dashboard</title>
  </head>
  <body>
    <!--will be hidden-->
    <%- include('../components/asidebar',{ activeItem:'dashboard',
    src:'https://www.pngkey.com/png/full/65-658471_happy-man-png.png',
    fullName:'othmane kahtal',email:'contact@gmail.com' }) %>
    <div
      class="
        hidden
        blur-layer
        absolute
        w-screen
        h-screen
        bg-gray-800 bg-opacity-25
        backdrop-filter backdrop-blur-md
        flex
        items-center
        justify-center
      "
    ></div>
  </body>
</html>
