<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>congrats! activate your account</title>
    <link rel="stylesheet" href="/css/build.min.css"/>
    <link rel="icon" href="/images/svg/dark-logo.svg"/>
    <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js" defer></script>
</head>
<body class="bg-gray-50 flex justify-center items-center h-screen">
<div class="w-1/2 flex flex-col justify-center items-center gap-y-8 px-12 py-8 bg-white rounded-2xl shadow-2xl">
    <lord-icon
            src="https://cdn.lordicon.com/lupuorrc.json"
            trigger="loop"
            colors="primary:#1c1917,secondary:#6366f1"
            style="width:250px;height:250px">
    </lord-icon>
    <p>Please check your email, and verify your account</p>
    <a class="btn btn-primary">resend activation</a>
</div>
</body>
</html>