<header class="flex justify-end px-8 py-6">
  <nav class="navbar flex items-center">
    <ul>
      <li>
        <a href="/dashboard/messages">
          <svg>
            <use href="/images/svg/sprite.svg#messages"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="/dashboard/notifications">
          <svg>
            <use href="/images/svg/sprite.svg#notification"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="/dashboard/setting">
          <svg>
            <use href="/images/svg/sprite.svg#setting"></use>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>
