@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn{
        @apply uppercase px-5 py-3 inline-block rounded-lg font-medium tracking-wide 2xl:mt-12 hover:-translate-y-1 transform cursor-pointer transition;
    }
    .btn-primary {
        @apply bg-indigo-500 text-white  hover:bg-indigo-400 focus:outline-none focus:ring-offset-2 focus:ring-offset-indigo-600 active:bg-indigo-600;
    }
    .btn-secondary {
        @apply bg-gray-200 text-gray-900 hover:bg-gray-200 focus:outline-none focus:ring-offset-2  active:bg-gray-400;
    }
}
